@import url("https://fonts.googleapis.com/css2?family=Boldonse");
@import url("https://cdn.jsdelivr.net/npm/office-ui-fabric-core@11.1.0/dist/css/fabric.min.css");
@import url("https://cdn.jsdelivr.net/npm/segoe-fonts@1.0.1/segoe-fonts.min.css");

* {
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #0d0d0d;
  color: #ffffff;
  margin: 0;
  overflow: hidden;
}

.logo {
  font-family: "Boldonse", sans-serif;
  font-size: small;
}

.titlebar {
  background-color: #131313;
  padding: 0 1px;
  height: 40px;
  display: flex;
  position: relative;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  border-bottom: 1px solid #ffffff;
}

.titlebar i {
  width: 44px;
  height: 39px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: 150ms;
  font-size: 12.6px;
  user-select: initial;
  -webkit-user-select: initial;
  -webkit-app-region: no-drag;
}

.titlebar i:hover {
  transition: 150ms;
  background-color: #323232;
}

.toolbar-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

main, footer {
  padding: 5px 20px;
}

footer {
  background-color: #131313;
  width: 100vw;
  position: absolute;
  bottom: 0;
  line-height: .35;
  font-size: 12px;
  border-top: 1px solid #ffffff;
}

footer a {
  text-decoration: none;
  color: #ffffff;
}